/**
*                 ========================
*                 Nariyuki LESS-ification!
*                 ========================
*
* - Notice how for many classes now, whenever possible, LESS scope syntax is used to cleanly discern
* scope and namespace of child classes or elements, and respective selectors.
*
* - Parametric mixins (function-like classes) are defined to reduce repetitive code
*
* - Global variables are created for future-proofing and reuse of chosen color schemes
*
*/
._background {
  background-color: #000000;
}
html {
  height: 100%;
}
body {
  height: 100%;
  margin: 0;
  padding-top: 50px;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-image: linear-gradient(to top, #1c1c1c 0%, #000000 100%);
  color: #777777;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:focus,
.navbar-default .navbar-nav > .open > a:hover {
  background-color: transparent;
  color: #3399ff;
}
.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav > li > a:hover {
  color: #fff;
}
.navbar {
  background: #000000;
  color: #777777;
  border: none;
  margin: 0px;
}
.dropdown-menu {
  margin-left: 45%;
  background: #000000;
  color: #777777;
  border-color: #222222;
}
.dropdown-menu > li > a {
  color: #777777;
}
.dropdown-menu > li > a:focus,
.dropdown-menu > li > a:hover {
  color: #fff;
}
.nav li a:focus,
.nav li a:hover {
  background-color: #000000;
}
.dropdown-submenu:hover > a {
  background-image: none;
  background-color: #000000;
}
.dropdown-menu .divider {
  background: #222222;
}
.btn {
  background: #222222;
  color: #fff;
}
.alert-success {
  background: #336633;
  color: #ddeedd;
  border-color: #000000;
}
.alert-warning {
  background: #ff9933;
  color: #ffffff;
  border-color: #000000;
}
.alert-danger {
  background: #990000;
  color: #ffcccc;
}
.list-group .list-group-item {
  background: #777777;
  color: #000000;
  border-color: #000000;
}
.form-control {
  background: #000000;
  border-color: #003366;
  color: #fff;
}
.input-group {
  margin-bottom: 1%;
}
#top {
  font-weight: bold;
  color: #000000;
}
#sub {
  color: #777777;
}
.glyphicon {
  font-size: 16px;
}
.jumbotron {
  background: linear-gradient(to right, rgba(136, 27, 29, 0) 0%, rgba(136, 27, 29, 0.8) 15%, #881b1d 19%, #881b1d 20%, #881b1d 50%, #881b1d 80%, #881b1d 81%, rgba(136, 27, 29, 0.8) 85%, rgba(136, 27, 29, 0) 100%);
  text-align: center;
}
.breadcrumb {
  margin: 20px;
  margin-left: 27.5%;
  width: 45%;
  text-align: center;
  background: #000000;
}
.panel {
  background-color: #000000;
  border-color: #604123;
}
.table-striped > tbody > tr:nth-of-type(odd) {
  background-color: #222222;
}
a {
  color: #00B7FF;
}
.table-bordered > tbody > tr > td,
.table-bordered > tbody > tr > th,
.table-bordered > tfoot > tr > td,
.table-bordered > tfoot > tr > th,
.table-bordered > thead > tr > td,
.table-bordered > thead > tr > th {
  border-color: #604123;
}
.sidebar-nav .navbar .navbar-collapse {
  padding: 0;
  max-height: none;
}
.sidebar-nav .navbar ul {
  float: none;
}
.sidebar-nav .navbar ul:not {
  display: block;
}
.sidebar-nav .navbar li {
  float: none;
  display: block;
}
.sidebar-nav .navbar li a {
  padding-top: 12px;
  padding-bottom: 12px;
}
.sidebar-nav .navbar .container {
  width: 100%;
}
